@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&family=Roboto&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    --background-color: #00192D;
    --accent-color: #E8020E;
    --text-color: white;
    --primary-color: orange;

    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px 16px;
    align-items: center;
}
.logo{
    font-size: 18px;
    font-weight: 800;
    color: var(--accent-color)
}

.nav-buttons-container{
    display: flex;
    align-items: center;
    gap: 16px;

    & button{
        background-color: var(--primary-color);
        border: none;
        padding: 8px 16px;
        color: var(--text-color);
        cursor: pointer;

        &:hover{
            background-color: var(--accent-color);
        }
    }

}

.banner-image-container{
    width: 100%;
    border: 1px solid red;
    height: 200px;
    background: url("./Assets/bannerImage.webp");
    background-position:center;
    background-size: cover;

    position: relative;
}

.banner-text{
    width: 60%;
    max-width: 500px;
    position: absolute;
    transform: translateY(-50%);
    right: 0;
    top: 50%;
    padding: 16px;
    
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);

}

.banner-heading{
    font-size: 32px;
    font-weight: 800;
    color: var(--accent-color)
}
.banner-sub{
    font-size: 24px;
    color: var(--text-color);
}


.heading{
    font-size: 24px;
    font-weight: 800;
    padding: 8px;
    background-color: var(--accent-color);
    text-align: center;
}


.card-container{
    width: 350px;
    border: 3px solid var(--accent-color);
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.card-container img{
    width: 100%;
    min-height: 350px;
}

@media (max-width: 800px){
    header{
        flex-direction: column;
    }
}